// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
$font-family-sans-serif: "DM Sans", sans-serif;
$primary: #1758fe;
$black: #081638;
$blue: #b5d6f4;
$light: #F6F8FF;
$dark: #788da0;
$gray: #DADDF1;
$white: #FFFFFF;
$success: #42e37a;
$h1-font-size: 32px;
$h2-font-size: 18px;
$h4-font-size: 16px;
$font-weight-bold: 700;
$h6-font-size: 12px;
$muted: $primary;

//Tabs
$nav-link-color: $black;
$nav-link-hover-color: $primary;
$nav-tabs-border-color: $gray;
$nav-tabs-link-hover-border-color: $light;
$nav-tabs-link-active-color: $primary;
$nav-tabs-link-active-bg: $white;
$nav-tabs-link-active-border-color: $gray;
$nav-pills-link-active-color: $primary;
$nav-pills-link-active-bg: $gray;
$nav-pills-link-border-color: $gray;
$nav-link-padding-y: 2rem;
$nav-link-padding-x: 2rem;
$nav-link-font-size: 22px;



// checkbox for vote

$form-check-input-checked-color: red;
$form-check-input-border:                 4px solid rgba($black, .25);


@import "../../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

body {
  letter-spacing: -0.3px;
  background-color: $light;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
  background: $light;
  border-radius: 8px;
}

.tab-active-sc  {
border-bottom: 3px solid $primary !important;
padding-bottom: 1rem;
width: 300px;
text-align: center;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}
.card-container {
  cursor: pointer;
  display: inline-block;
}
.card-container:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  transition: 0.3s all;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  background-clip: border-box;
  //   border: 1.8px solid #daddf1;
  //   background-color: white;
}

.form-select {
  width: auto;
  border: 2px solid #daddf1;
  color: $black;
}


.border-sc {
  transition: all 0.1s ease-in-out;
  box-shadow: 0px 4px 0px 1px $gray !important;
  border-color: $gray !important;
}

.badge-sc {
  position: absolute;
  top: -8px;
  right: -16px;
}

.letter-spacing-sc-1 {
  letter-spacing: .3px;
}


.border-sc:hover {
  padding-top: .4rem;
  box-shadow: 0px 0px 0px 1px $gray !important;
  border-color: $gray !important;
}

.star {
  color: orange;
}




