:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-monument: 'ABC Monument Grotesk', sans-serif;
  --font-monument-bold: 'ABC Monument Grotesk Bold', sans-serif;
  --font-monument-light: 'ABC Monument Grotesk Light', sans-serif;
  --foreground-rgb: 0, 0, 0;
  --bs-font-sans-serif: 'ABC Monument Grotesk', sans-serif;
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

:root,
[data-bs-theme=light] {
  --bs-font-sans-serif: var(--font-monument);
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-size: 16px !important;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-monument);
  background-color: rgb(227, 230, 233) !important;
}

a {
  /*color: ; /* inherit*/
  font-size: 1.125em;
  no-text-decoration: none;
}


/** Bootstrap extensions **/
.fs-sm { font-size: 0.875rem; }
.fs-xs { font-size: 0.8rem; }

/* 
  Equivalent to containers
  container-sm 540px = 33.75rem
  container-md 720px = 45rem
  container-fluid 100%
*/
.section-sm { max-width: 540px; } /* max width for forms and restricted */
.section-md { max-width: 720px; } /* max width for readable text */
.section-lg { max-width: 960px; } /* max width for laptop */
.section-xl { max-width: 1140px; } /* max width for desktop */
.section-fluid { max-width: 100% }

/* Some utility max heights and widths */
.mh-1 { max-height: 1rem; }
.mh-2 { max-height: 2rem; }
.mh-3 { max-height: 3rem; }
.mh-5 { max-height: 5rem; }
.mh-7 { max-height: 7rem; }
.mw-4 { max-width: 4rem;}
.mw-5 { max-width: 5rem;}
.mw-6 { max-width: 6rem;}
.mw-8 { max-width: 8rem;}
.mw-10 { max-width: 10rem;}
.mw-12 { max-width: 12rem;}

/* Custom card containers */
.card-container {
  max-width: 31%;
  min-width: 31%;
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: 3rem;
}

@media only screen and (max-width: 960px) {
  .card-container {
    max-width: 47.5%;
    min-width: 40%;
  }
}

@media only screen and (max-width: 540px) {
  .card-container {
    max-width: 100%;
    min-width: 96%;
  }
}

