@font-face {
  font-family: 'ABC Monument Grotesk';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/ABCMonumentGrotesk-Regular.woff2') format('woff2'),
    url('/fonts/ABCMonumentGrotesk-Regular.woff') format('woff');
}

@font-face {
  font-family: 'ABC Monument Grotesk Light';
  font-style: normal;
  src: url('/fonts/ABCMonumentGrotesk-Light.woff2') format('woff2'),
    url('/fonts/ABCMonumentGrotesk-Light.woff') format('woff');
}

@font-face {
  font-family: 'ABC Monument Grotesk Bold';
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/ABCMonumentGrotesk-Bold.woff2') format('woff2'),
    url('/fonts/ABCMonumentGrotesk-Bold.woff') format('woff');
}

