/** Bootstrap extensions **/
.fs-md { font-size: 1.125rem; }
.fs-nm { font-size: 1rem; }
.fs-sm { font-size: 0.875rem; }
.fs-xs { font-size: 0.8rem; }

/* 
  Equivalent to containers
  container-sm 540px = 33.75rem
  container-md 720px = 45rem
  container-fluid 100%
*/
.section-sm { max-width: 540px; } /* max width for forms and restricted */
.section-md { max-width: 720px; } /* max width for readable text */
.section-lg { max-width: 960px; } /* max width for laptop */
.section-xl { max-width: 1140px; } /* max width for desktop */
.section-fluid { max-width: 100% }

/* Some utility max heights and widths */
.mh-1 { max-height: 1rem; }
.mh-2 { max-height: 2rem; }
.mh-3 { max-height: 3rem; }
.mh-5 { max-height: 5rem; }
.mh-7 { max-height: 7rem; }
.mw-4 { max-width: 4rem;}
.mw-5 { max-width: 5rem;}
.mw-6 { max-width: 6rem;}
.mw-8 { max-width: 8rem;}
.mw-10 { max-width: 10rem;}
.mw-12 { max-width: 12rem;}

/**
* Fixes for some styling problems 
*/

/* form field borders had low contrast */
:root { 
  --bs-border-color: rgb(109, 95, 95); 
}
.form-select { 
  border: 1px solid var(--bs-border-color) !important; 
}

/* Tabs are very big, redcue them */
.nav {
  --bs-nav-link-padding-x: 1rem;
  --bs-nav-link-padding-y: 0.875rem;
  --bs-nav-link-font-size: calc(1rem + 0.125vw);
  --bs-nav-link-font-weight: 600;
}
